* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  font-size: 2rem;
  line-height: 36px;
}

table tr {
  margin: 5px;
}

table.conversions tr>td:first-child, table.conversions tr>th:first-child {
  border-right: 1px dashed #0008;
}

table.conversions tr:nth-child(2) td {
  border-top: 1px dashed #0008;
}

td {
  padding: 5px;
}

.signal, .guesses {
  cursor: pointer;
  text-decoration: underline;
}

.invis {
  opacity: 0;
}
