<div
fxLayout="column"
fxLayoutGap="2em"
fxLayoutAlign="center center"
class="m-t-10 m-b-10 monospace"
*ngIf="_gameIsRunning" @fadeInOut>

  <h1>
    {{ GetLocalization('electronics-round') }} {{ RoundIndexDisplay }}
  </h1>

  <div fxLayout="row wrap" fxLayoutGap="5px">
    <button *ngIf="this.RoundIndex" mat-flat-button color="warn" (click)="ResetRound(true)" [disabled]="!_gameIsRunning">{{ GetLocalization('reset') }}</button>
    <button mat-flat-button color="warn" (click)="RestartRound(true)" [disabled]="!_gameIsRunning">{{ GetLocalization('shuffle') }}</button>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <!--#region Inputs, Microchips and Outputs -->
      <table>

        <tr>
          <td class="cursor-help help text-center" [title]="GetLocalization('electronics-help')">
            ?
          </td>
        </tr>

        <!-- #region Rows with inputs -->
          <tr>
            <td class="invis">.</td>
            <td *ngFor="let i of GetArray(0, 1, Width)" [class]="OutputHidden(i) ? '' : 'signal primary-800'" (click)="IncrementInput(i)">
              {{ OutputHidden(i) ? '' : _inputs[i] }}
            </td>
            <td class="invis">.</td>
          </tr>
        <!-- #endregion -->

        <!-- #region Rows with inputs, then microchips, finally outputs -->
          <tr *ngFor="let i of GetArray(0, 1, Height)">
            <td [class]="OutputHidden(i + Width) ? '' : 'signal primary-800'" (click)="IncrementInput(i + Width)">
              {{ OutputHidden(i + Width) ? '' : _inputs[i + Width] }}
            </td>
            <td  *ngFor="let j of GetArray(0, 1, Width)" [class]="Difficulty.chipTBD === (i * Width + j) ? 'warn-800' : 'accent-800'">
              {{ _microchips[i * Width + j].Name }}
            </td>
            <td>
              {{ OutputHidden(i + Width) ? '' : GetOutPut(i + Width) }}
            </td>
          </tr>
        <!-- #endregion -->

        <!-- #region Rows with outputs -->
          <tr>
            <td class="invis">.</td>
            <td *ngFor="let i of GetArray(0, 1, Width)">
              {{ OutputHidden(i) ? '' : GetOutPut(i) }}
            </td>
            <td class="invis">.</td>
          </tr>
        <!-- #endregion -->

      </table>
    <!--#endregion  -->

    <!--#region Microchip Conversion Table -->
      <table class="conversions m-t-20 m-l-20">

        <tr>
          <th [innerHTML]="' '"></th>
          <th *ngFor="let c of GetArray(0, 1, Width * Height)" [class]="c !== Difficulty.chipTBD ? 'accent-800' : 'warn-800'">{{ _microchips[c].Name }}</th>
        </tr>

        <tr *ngFor="let i of GetArray(0, 1, 16).slice(0, Max)">
          <td class="primary-800">{{i}}</td>
          <td *ngFor="let c of GetArray(0, 1, Width * Height)" >
            <!-- chip -->
            <span *ngIf="c !== Difficulty.chipTBD" [title]="GetLocalization('electronics-mouseover-1') + ' [' + _microchips[c].Name + '] ' + GetLocalization('electronics-mouseover-2') + ' ' + i + ' ' + GetLocalization('electronics-mouseover-3') + ' ' + (_microchips[c].ConversionsRevealed ?  _microchips[c].Conversions[i] : '?')">{{ _microchips[c].ConversionsRevealed ?  _microchips[c].Conversions[i] : '?' }}</span>
            <!-- chip to be determined -->
            <span *ngIf="c === Difficulty.chipTBD" class="warn-800 warn-bg-A100 guesses" (click)="IncrementGuess(i)">{{ _guesses[i] === -1 ? '?' : _guesses[i] }}</span>
          </td>
        </tr>

      </table>
    <!--#endregion  -->

  </div>
</div>
