* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  font-size: 2rem;
  line-height: 36px;
}

table tr {
  margin: 5px;
}

td {
  padding: 5px;
}

.signal, .guesses {
  cursor: pointer;
  text-decoration: underline;
}

.invis {
  opacity: 0;
}

.help {
  font-size: 2rem;
}
