
<div
class="p-10"
fxLayout="column"
fxFlexFill>

<div
  fxLayoutAlign="center center">
  <mat-icon class="accent-500">report</mat-icon>
</div>

<div fxLayout="row"
    fxLayout.lt-md="column">

    <div fxFlex="50%">

      <div fxLayoutAlign="center center">
        <h1 class="accent-500 text-center">Pagina niet gevonden</h1>
      </div>
      <div fxLayoutAlign="center center">
        <h2 class="accent-500 text-center">Onze verontschuldigingen maar helaas bestaat tot onze grote spijt deze pagina niet of niet meer</h2>
      </div>

    </div>

    <div fxFlex="50%">

      <div fxLayoutAlign="center center">
        <h1 class="accent-500 text-center">Page not found</h1>
      </div>
      <div fxLayoutAlign="center center">
        <h2 class="accent-500 text-center">Our apologies, but unfortunately and regretfully this page does not exist or not anymore</h2>
      </div>

    </div>

</div>

</div>
