<app-header></app-header>

<div
fxFlexLayout="column"
fxLayoutAlign="center center"
class="m-t-10 m-b-10">

  <div fxFlex="50%"
  fxLayoutAlign="center center">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Digits</mat-label>
        <input matInput [(ngModel)]="_digitsToGet">
      </mat-form-field>
    </p>
  </div>

  <div fxFlex="50%"
  fxLayoutAlign="center center">
    <button
      [disabled]="(_httpService.RunningRequestsCountObservable | async) > 0"
      mat-raised-button
      color="accent"
      (click)="GetPrime(_digitsToGet)">
      Generate BigPrime
    </button>
  </div>

</div>


<div>
  <p class="text-center">{{_prime}}</p>
</div>

