<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1em"
  fxFill
  style="height:100%"
  class="p-15"
  >

  <!-- Title -->
  <h2 class="monospace">
    {{ GetLocalization('mastermind-title')}}<span class="help cursor-help" [title]="GetLocalization('mastermind-help')">?</span>
  </h2>

  <div fxLayout="row wrap" fxLayoutGap="5px">
    <button mat-flat-button color="primary" (click)="MakeGuess()" [disabled]="LockUi" class="monospace">{{ GetLocalization('mastermind-guess') }}</button>
    <button mat-flat-button color="primary" (click)="NewGame()" [disabled]="_httpService.RunningRequestsCount > 0" class="monospace">{{ GetLocalization('mastermind-new-code') }}</button>
    <button mat-flat-button color="primary" (click)="ModalOn()" [disabled]="_httpService.RunningRequestsCount > 0" class="monospace">{{ GetLocalization('help') }}</button>
  </div>

  <!-- Input for any given Guess -->
  <mat-form-field class="guess-code monospace" [title]="GetLocalization('mastermind-input-help')">
    <mat-label>{{ GetLocalization('mastermind-your-guess') }}</mat-label>
    <input matInput type="text" [(ngModel)]="_guessCode" (keydown)="OnKeyDown($event)" [disabled]="LockUi">
    <button mat-button *ngIf="_guessCode" matSuffix mat-icon-button aria-label="Clear" (click)="guessCode=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Guesses plus feedback -->
  <div class="monospace">
    <div class="m-0" *ngFor="let g of _guessesPlusFeedback" @fadeInOut @upInOut>{{ g.guess }} - {{ g.bulls }} {{ g.cows }}</div>
  </div>

</div>

<div @fadeInOut *ngIf="ModalActive" class="modal-background" fxLayout="row wrap" fxLayoutAlign="center center" (click)="ModalOff()">
  <div class="modal-foreground" fxLayout="column wrap" fxLayoutAlign="center center">
    {{ GetLocalization('mastermind-help') }}
  </div>
</div>
