<app-header></app-header>

<div fxFlexLayout="row" class="m-t-20">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div
    fxFlex.gt-sm="60%"
    fxFlexFill
    class="text-center">
    <h1 class="primary-500 m-10 p-0 m-r-20">
      Fullstack Developer and Lifetime Eccentric
    </h1>
  </div>
</div>

<div fxFlexLayout="row" class="m-t-20">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div
    fxFlex.gt-sm="60%"
    fxFlexFill
    class="text-center">
    <app-bgheader></app-bgheader>
  </div>
</div>

<div fxFlexLayout="row" class="p-20 p-t-40 primary-bg-800 primary-50 text-center story">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div fxFlex.gt-sm="60%">
    <p class="p-4">This is a place for my personal experiments and ramblings.</p>
    <p class="p-4">It behooves all people to present themselves fashionably and decently; intending to be a cure to sore eyes; inspiring hope and confidence in one's fellow man.</p>
  </div>
</div>

<div fxFlexLayout="row" class="m-t-20 text-center">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div fxFlex.gt-sm="60%" fxFlexFill>
    <h3 class="primary-900 p-4">A few mini projects:</h3>
  </div>
</div>

<div
  fxFlexLayout="column"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    mat-raised-button
    (click)="IncrementTheme()" color="primary">Increment Theme</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="NavigateTo('big-prime')">Prime Calculator</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="NavigateTo('scribo-alacrito')">Scribo Alacrito</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="Increment()">Cookie Counter ( {{_count}} )</button>
</div>
