<app-header></app-header>

<div fxFlexLayout="row" class="m-t-20">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div
    fxFlex.gt-sm="60%"
    fxFlexFill
    class="text-center">
    <h1 class="primary-500 m-10 p-0 m-r-20">
      Fullstack Developer, Philosopher and Lifetime Eccentric
    </h1>
  </div>
</div>

<div fxFlexLayout="row" class="m-t-20">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div
    fxFlex.gt-sm="60%"
    fxFlexFill
    class="text-center">
    <img src="svg/bgheaderbottom.svg" alt="scaled vector graphic of desk, desktop computer, hot coffee mug, a diagram showing the ratios between the earth, the moon and the Great Pyramid of Giza. The earth is 11 wide, the moon 3 and the pyramid is 11 wide and 14 high. Displayed with roman numerals">
  </div>
</div>

<div fxFlexLayout="row" class="m-t-10 p-20 p-t-40 primary-bg-800 primary-50 text-center story">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div fxFlex.gt-sm="60%">
    <p class="p-4">This is a place for my personal experiments and ramblings; here I may show off my l33t coding skills and/or shamelessly advertise for me to meet nice woman folk.</p>
    <p class="p-4">I prefer woman folk over men because I'm a gentleman with warm red blood. I prefer woman best in pretty light flowery colored dresses. The prettiest posture I've seen in my life is kneeling and praying with the fingers pointing up. I don't know what it is but this basically causes me to melt away inside and totally ruins my devotion in the moment as I won't be able to think about anyone but them, with or without veil; I've really really tried. I'm utterly captivated once I spot a female in a nice light flowery dress veiled kneeling and praying with the rays of the sun shining through the stained glass windows highlighting every part of them... As if my peripheral vision needed any more help to see more of a woman than I should while at church.</p>
    <p class="p-4">It behooves all people to present themselves fashionably and decently; intending to be a cure to sore eyes; inspiring hope and confidence in one's fellow man.</p>
  </div>
</div>

<div fxFlexLayout="row" class="m-t-20 text-center">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <div fxFlex.gt-sm="60%" fxFlexFill>
    <h3 class="primary-900 p-4">A few mini projects:</h3>
  </div>
</div>

<div
  fxFlexLayout="column"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    mat-raised-button
    (click)="IncrementTheme()" color="primary">Increment Theme</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="NavigateTo('big-prime')">Prime Calculator</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="NavigateTo('scribo-alacrito')">Scribo Alacrito</button>
</div>

<div
  fxFlexLayout="row"
  fxLayoutAlign="space-evenly none"
  class="m-t-10 m-b-10">
  <button
    fxFlexAlign="center"
    mat-raised-button color="primary"
    (click)="Increment()">Cookie Counter ( {{_count}} )</button>
</div>
