// Define a selectable dark theme
$primary-color: (
  50 : #e0e5f5,
  100 : #b3bde7,
  200 : #8092d7,
  300 : #4d66c6,
  400 : #2645ba,
  500 : #0024ae,
  600 : #0020a7,
  700 : #001b9d,
  800 : #001694,
  900 : #000d84,
  A100 : #b1b4ff,
  A200 : #7e83ff,
  A400 : #4b52ff,
  A700 : #313aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$secondary-color: (
  50 : #e0fbe4,
  100 : #b3f5ba,
  200 : #80ef8d,
  300 : #4de95f,
  400 : #26e43c,
  500 : #00df1a,
  600 : #00db17,
  700 : #00d713,
  800 : #00d20f,
  900 : #00ca08,
  A100 : #f2fff2,
  A200 : #bfffc0,
  A400 : #8cff8d,
  A700 : #73ff74,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$tertiary-color: (
  50 : #fffae0,
  100 : #fff3b3,
  200 : #ffeb80,
  300 : #ffe24d,
  400 : #ffdc26,
  500 : #ffd600,
  600 : #ffd100,
  700 : #ffcc00,
  800 : #ffc600,
  900 : #ffbc00,
  A100 : #ffffff,
  A200 : #fffbf2,
  A400 : #ffecbf,
  A700 : #ffe4a6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary: mat-palette($primary-color, 100, 400, A100);
$accent: mat-palette($secondary-color, 100, 800, A100);
$warn: mat-palette($tertiary-color, 200, A100, A400);

$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);
