// Define a selectable dark theme
$primary-color: (
  50 : #e0e5f5,
  100 : #b3bde7,
  200 : #8092d7,
  300 : #4d66c6,
  400 : #2645ba,
  500 : #0024ae,
  600 : #0020a7,
  700 : #001b9d,
  800 : #001694,
  900 : #000d84,
  A100 : #b1b4ff,
  A200 : #7e83ff,
  A400 : #4b52ff,
  A700 : #313aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$secondary-color: (
  50 : #e1eee2,
  100 : #b3d4b7,
  200 : #81b787,
  300 : #4e9a57,
  400 : #288533,
  500 : #026f0f,
  600 : #02670d,
  700 : #015c0b,
  800 : #015208,
  900 : #014004,
  A100 : #75ff75,
  A200 : #42ff42,
  A400 : #0fff0f,
  A700 : #00f500,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$tertiary-color: (
  50 : #e7e0e8,
  100 : #c3b3c5,
  200 : #9b809e,
  300 : #724d77,
  400 : #542659,
  500 : #36003c,
  600 : #300036,
  700 : #29002e,
  800 : #220027,
  900 : #16001a,
  A100 : #db58ff,
  A200 : #d025ff,
  A400 : #be00f1,
  A700 : #aa00d8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$primary: mat-palette($primary-color, 100, 400, A100);
$accent: mat-palette($secondary-color, 100, 800, A100);
$warn: mat-palette($tertiary-color, 200, A100, A400);

$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);
