// This defines the default theme

//http://mcg.mbitson.com/#!?mcgpalette0=%23c0afd0
$primary-color: (
  50 : #ebe0f5,
  100 : #cdb3e5,
  200 : #ab80d4,
  300 : #894dc3,
  400 : #7026b6,
  500 : #5700a9,
  600 : #4f00a2,
  700 : #460098,
  800 : #3c008f,
  900 : #2c007e,
  A100 : #c1acff,
  A200 : #9b79ff,
  A400 : #7646ff,
  A700 : #632cff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$secondary-color: (
  50 : #eee6f0,
  100 : #d4c2db,
  200 : #b799c3,
  300 : #9a70aa,
  400 : #845198,
  500 : #6e3286,
  600 : #662d7e,
  700 : #5b2673,
  800 : #511f69,
  900 : #3f1356,
  A100 : #d590ff,
  A200 : #c25dff,
  A400 : #af2aff,
  A700 : #a510ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$tertiary-color: (
  50 : #f6faea,
  100 : #e8f2cb,
  200 : #d9eaa8,
  300 : #cae185,
  400 : #beda6a,
  500 : #b3d450,
  600 : #accf49,
  700 : #a3c940,
  800 : #6f9d00,
  900 : #537900,
  A100 : #faeedd, //I know this color is pink and that it's hacky but idk how else to make the di-scan-round angular materials progressbar use two colors -Sander
  A200 : #ebffc4,
  A400 : #daff91,
  A700 : #d1ff78,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$primary: mat-palette($primary-color, 50, 500, A100);
$accent: mat-palette($secondary-color, 50, 800, A100);
$warn: mat-palette($tertiary-color, 100, A100, A400);

$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);
