<mat-toolbar
fxLayout="row"
fxLayoutAlign="center center"
class="primary-bg-800 primary-0"
>

  <div fXLayout="row" fxFlexOrder="1" fxLayoutGap.gt-sm="5px">

    <button
    fxFlex="1 1 100px 100px"
    fxFlexOrder="1"
    mat-icon-button
    aria-label="go to home button"
    (click)="NavigateTo('/')"
    class="primary-bg-400"
    [title]="GetLocalization('header-home')">
      <mat-icon class="primary-0">home</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="2"
      mat-icon-button
      aria-label="contact me button"
      (click)="NavigateTo('/contact-me')"
      class="primary-bg-400"
      [title]="GetLocalization('header-contact')">
      <mat-icon class="primary-0">email</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="3"
      mat-icon-button
      aria-label="Change language button"
      (click)="_localizationService.Increment()"
      class="primary-bg-400"
      [title]="GetLocalization('header-language')">
      <mat-icon class="primary-0">chat_bubble</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="4"
      mat-icon-button
      aria-label="Change theme button"
      (click)="_themesService.IncrementTheme()"
      class="primary-bg-400"
      [title]="GetLocalization('header-theme')">
      <mat-icon class="primary-0">brush</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="5"
      mat-icon-button
      aria-label="Change theme button"
      (click)="NavigateTo('/cv')"
      class="primary-bg-400"
      [title]="GetLocalization('header-cv')">
      <mat-icon class="primary-0">person</mat-icon>
    </button>

    <div fxFlex class="m-5"> </div>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="6"
      fx
      mat-icon-button
      aria-label="Change theme button"
      (click)="NavigateTo('/big-prime')"
      class="primary-bg-400"
      [title]="GetLocalization('header-primes')">
      <mat-icon class="primary-0">laptop</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="7"
      mat-icon-button
      aria-label="Change theme button"
      (click)="NavigateTo('/scribo-alacrito')"
      class="primary-bg-400"
      [title]="GetLocalization('header-scribo')">
      <mat-icon class="primary-0">keyboard</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="8"
      mat-icon-button
      aria-label="Change theme button"
      (click)="NavigateTo('/codebreaker')"
      class="primary-bg-400"
      [title]="GetLocalization('header-code')">
      <mat-icon class="primary-0">code</mat-icon>
    </button>

    <button
      fxFlex="1 1 100px 100px"
      fxFlexOrder="9"
      mat-icon-button
      aria-label="Change theme button"
      (click)="NavigateTo('/electronics-game')"
      class="primary-bg-400"
      [title]="GetLocalization('header-code')">
      <mat-icon class="primary-0">usb</mat-icon>
    </button>

  </div>

</mat-toolbar>


<!-- Bar showing if a fetch request is in progress -->
<mat-progress-bar
  *ngIf="(_httpService.RunningRequestsCountObservable | async) != 0"
  mode="indeterminate"
  color="primary"
  class="m-b-10">
</mat-progress-bar>
<div
  *ngIf="(_httpService.RunningRequestsCountObservable | async) == 0"
  class="nothing-bar m-b-10"></div>
