<mat-toolbar
fxLayout="row"
fxLayoutAlign="center center"
class="primary-bg-800 primary-0"
>

<div
  class="m-l-100"
  fxHide.lt-md="true"
  fxFlexOrder="0">
  <!--spacer-->
</div>

<button
  fxFlex="1 1 100px 100px"
  fxFlexOrder="1"
  mat-icon-button
  aria-label="Example icon button with a home icon"
  (click)="NavigateTo('/')"
  class="primary-bg-400">
  <mat-icon class="primary-0">home</mat-icon>
</button>

<!--Filler div-->
<div
  fxFlex="1 1 60%"
  fxFlexOrder="2"
  fxHide.lt-sm="true"></div>

<div
  class=""
  fxFlexOrder="3"
  fxHide.lt-md="true">
</div>

<div
  class="primary-border-400 accent-500"
  fxFlexOrder="4">
</div>

<div
  class="m-r-100"
  fxHide.lt-md="true"
  fxFlexOrder="5">
  <!--spacer--></div>

</mat-toolbar>


<!-- Bar showing if a fetch request is in progress -->
<mat-progress-bar
  *ngIf="(_httpService.RunningRequestsCountObservable | async) != 0"
  mode="indeterminate"
  color="primary"
  class="m-b-10">
</mat-progress-bar>
<div
  *ngIf="(_httpService.RunningRequestsCountObservable | async) == 0"
  class="nothing-bar m-b-10"></div>
