<app-header></app-header>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1em"
  fxFill
  style="height:100%"
  class="p-15"
  >

  <!-- Title -->
  <h2>
    Code Breaker
  </h2>

  <div fxLayout="row" fxLayoutGap="5px">
    <button mat-raised-button color="primary" (click)="MakeGuess()" [disabled]="LockUi">Guess!</button>
    <button mat-raised-button color="warn" (click)="NewGame()" [disabled]="_httpService.RunningRequestsCount > 0">New Code</button>
  </div>

  <!-- Feedback -->
  <mat-form-field class="guess-code">
    <mat-label>Your guess</mat-label>
    <input matInput class="monospace" type="text" [(ngModel)]="guessCode" (keydown)="OnKeyDown($event)" [disabled]="LockUi">
    <button mat-button *ngIf="guessCode" matSuffix mat-icon-button aria-label="Clear" (click)="guessCode=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Guesses plus feedback -->
  <div class="monospace">
    <p *ngFor="let g of guessesPlusFeedback">{{ g }}</p>
  </div>

</div>
