<app-header></app-header>

<div
fxFlexLayout="column"
fxLayoutAlign="center center"
class="m-t-10 m-b-10">

  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>

  <div
    fxFlex="50%"
    fxFlex.gt-sm="30%"
    fxLayoutAlign="center center">
    <p
      class="title" title="WPM = characters per minute divided by 5, averaged over approximately the last 25 typed texts."
      style="line-height: 25px; font-size: 20px">
      Alacrite Scribo - WPM: {{ _wpm }}
    </p>
  </div>

  <div
    fxFlex="50%"
    fxFlex.gt-sm="30%"
    fxLayoutAlign="center center">
    <button
      [disabled]="(_httpService.RunningRequestsCountObservable | async) > 0"
      mat-raised-button
      color="accent"
      (click)="GetText()">
      Get Text
    </button>
  </div>

</div>

<div flexLayout="row">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <input
    fxFlex="100%"
    fxFlex.gt-sm="60%"
    [class]="(_correct ? '' : 'input-error') + ' p-5'"
    (keyup)="ChangeEvent()"
    (change)="ChangeEvent()"
    value=""
    placeholder="Type here..."
    [(ngModel)]="_input"/>
</div>

<div
  fxFlexLayout="row"
  class="m-t-20">
  <div
    fxFlex="20%"
    fxHide.lt-md="true"><!-- spacer --></div>
  <p
    fxFlex="100%"
    fxFlex.gt-sm="60%"
    class="displayed-text p-5 m-5">
    <span class="correct" fxHide="true">{{ _textCorrect }}</span>
    <span class="false">{{ _textFalse }}</span>
    <span class="remaining">{{ _textRemaining }}</span>
    <span class="next">{{ _nextText }}</span>
  </p>
</div>

<div fxLayout="column" style="font-size: 20px;">

  <div fxLayout="row">
    <div fxFlex="50%" style="
    text-align: right;
    margin-right: 15px;"
    >WPM</div>
    <div fxFlex="50%">Length</div>
  </div>

  <div *ngFor="let item of _wpmList" fxLayout="row">
    <div fxFlex="50%" style="
    text-align: right;
    margin-right: 15px;"
    >{{ FloorNumber(item.wpm, 1) }}</div>
    <div fxFlex="50%">{{ item.length }}</div>
  </div>

</div>
