<div
fxFlexLayout="column"
fxLayoutAlign="center center"
class="m-t-10 m-b-10">

  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>

  <div
    fxFlex="50%"
    fxFlex.gt-sm="30%"
    fxLayoutAlign="center center">
    <p
      class="title" [title]="GetLocalization('scribo-wpm-help')"
      style="line-height: 25px; font-size: 20px">
      Alacrite Scribo - WPM: {{ Wpm }} - {{ GetLocalization('scribo-line')}} ({{_i}}/{{_nrOfLines}})
    </p>
  </div>

  <mat-form-field class="example-form-field" fxFlex="10%">
    <mat-label>#</mat-label>
    <input
      matInput
      autoComplete="off"
      type="text"
      [(ngModel)]="_getTextI">
  </mat-form-field>

  <div
    fxFlex="40%"
    fxFlex.gt-sm="20%"
    fxLayoutAlign="center center">
    <button
      [disabled]="(_httpService.RunningRequestsCountObservable | async) > 0"
      mat-raised-button
      color="accent"
      (click)="
        GetText(_getTextI, true);
        _getTextI = FloorNumber(_getTextI) ;
        _i = _getTextI">
      Get Text
    </button>
  </div>

</div>

<div flexLayout="row">
  <div fxFlex="20%" fxHide.lt-md="true"><!-- spacer --></div>
  <mat-form-field
    class="example-form-field"
    fxFlex="100%"
    fxFlex.gt-sm="60%"
    class="p-5">

    <mat-label>Input:</mat-label>
    <input
      [class]="(_correct ? '' : 'warn-bg-50')"
      matInput type="text"
      [(ngModel)]="_input"
      (ngModelChange)="ChangeEvent($event)"
      autoComplete="off"
    >
    <button mat-button *ngIf="_input" matSuffix mat-icon-button aria-label="Clear" (click)="_input=''; ChangeEvent()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>
</div>

<h2 class="text-center">
  {{ _title }}
</h2>

<div
  fxFlexLayout="row"
  class="m-t-20">
  <div
    fxFlex="20%"
    fxHide.lt-md="true"><!-- spacer --></div>
  <p
    fxFlex="100%"
    fxFlex.gt-sm="60%"
    class="displayed-text p-5 m-5">
    <span class="primary-bg-100">{{ _textCorrect }}</span>
    <span class="accent-bg-100" *ngIf="_textFalse">{{ _textFalse }}</span>
    <span class="remaining">{{ _textRemaining }}</span>
    <span class="next opacity-lower" @fadeIn @upIn *ngIf="_nextText">{{ _nextText }}</span>
  </p>
</div>

<div fxLayout="column" style="font-size: 20px;">

  <div fxLayout="row">
    <div fxFlex="50%" style="
    text-align: right;
    margin-right: 15px;"
    >WPM</div>
    <div fxFlex="50%">Length</div>
  </div>

  <div *ngFor="let item of _wpmList" fxLayout="row">
    <div fxFlex="50%" style="
      text-align: right;
      margin-right: 15px;"
    >{{ FloorNumber(item.wpm, 1) }}</div>
    <div fxFlex="50%">{{ item.length }}</div>
  </div>

</div>
